html {
    height: 100%;
    background-color: #1d292c;
}
body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1d292c;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;

    -webkit-tap-highlight-color: transparent;
}

#application-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#application-canvas.fill-mode-NONE {
    margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
    width: 100%;
    height: auto;
    margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas:focus {
    outline: none;
}

@media (min-width: 300px) {
  .h1, h1 {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .h1, h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 300px) {
  .d-lg-flex.mb-auto.justify-content-lg-end.align-items-lg-end {
    padding-bottom: 89px;
  }
}

@media (min-width: 300px) {
  p {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 1.5rem;
    padding: 25px 25px 25px 25px;
  }
}
